<div class="empty-addresses" data-empty-address-content>
  <img class="empty-addresses--img" src="{{ 'customer-address-empty.jpg' | asset_url }}" alt="" />
  <p class="empty-addresses--content">you haven’t submitted any addresses yet</p>
  <a class="empty-addresses--link button button--red" href="#">New Address</a>
</div>