<div id="customize-alert3" class="customizable customizable-alert js-customizable mfp-hide white-popup-block">
  <div class="alert-icon">
    <h1><i class="snap-alert"></i></h1>
    <p class="alert-desc">
      Closing this window will delete your customizations.
    </p>
  </div>
  <div class="alert-buttons">
    <span class="alert-button alert-button__close js-alert-button__close">Yes</span>
    <span class="alert-button alert-button__keep js-alert-button__keep2">No, I'm still working</span>
  </div>
</div>
