<div id="edit-alert" class="alert alert-close mfp-hide">
  <div class="alert__wrapper">
    <div class="alert__container">
      <div class="alert__icon">
        <span class="alert-icon custom--alert"></span>
        <p class="alert__text">You won't be able to go back after you make these edits. Are you sure that you want to edit these customizations? If you are sure, press the “EDIT” button.</p>
      </div>
      <div class="alert__actions">
        <span class="button mfp-close js-edit">edit</span>
        <span class="button button--primary mfp-close">cancel</span>
      </div>
    </div>
  </div>
</div>
