</main> <!-- Close .main-wrapper for full width effect -->
<div class="title-bar {{ class }}">
  <h1 class="title js-title">{{ title }}</h1>
</div>
<main class="main-wrapper"> <!-- Open again .main-wrapper for wrapper effect -->
