<div class="block--section product__shirts text--center" style="background-image: url({{ 'shirts-cut.png' | asset_url }})">
  <h2 class="title--medium">CUSTOM SHIRTS</h2>
  <div class="product-shirts__wrapper">
    <p class="text--regular">$75 custom shirts, delivered in just 14 days. Try them out for yourself! From oxfords to prints, short sleeve or long sleeve, our cotton shirts can take you from the
office to the ocean.</p>
  </div>
  <a href="/collections" class="button button-white">shop now</a>
</div>
