<div class="pure-u-sm-1 product-warranty hidden--mobile">
  <div class="warranty-block">
    <div class="warranty-image" style="background-image: url({{ 'warranty.jpg' | asset_url }})">
      <div class="blackout"></div>
      <div class="warranty-content">
        <h2 class="warranty-title">100% Custom Fit</h2>
        <p class="text--regular warranty-text">If there are any issues, you can take them to a tailor and receive a $50 credit off your original purchase. If for some reason the suit doesn't fit, we will remake your suit. No problem!</p>
        <a href="/pages/our-quality" class="button button-outline-white warranty-btn">Read About Our Fit Guarantee</a>
      </div>
    </div>
  </div>
</div>
