<div id ="reset_main">
  {% include 'red-title' with title: "Reset Password" %}
  <div class="form-wrapper">
    {% form 'reset_customer_password', class: "form js-reset" %}
      <div id="errors" class="js-errors">{{ form.errors | default_errors }}</div>
      <div class="input-control">
        <input type="password" name="customer[password]" required="required" id="password" class="">
        <label for="password" class="form-label">New Password</label>
      </div>
      <div class="input-control">
        <input type="password" name="customer[password_confirmation]" required="required" id="password_again" class="input" autocomplete="new-password">
        <label for="password_again" class="form-label">new password again</label>
      </div>
      <div class="form-actions center">
        <input type="submit" class="button button--primary cta" value="Reset">
      </div>
    {% endform %}
  </div>
</div>
