</main>
  <section class="hero-full-screen has-background-image background-top-right" style="background-image: url({{ '404.jpg' | asset_url }});">
    <main class="main-wrapper">
      <div class="hero-content max-400 little-left">
        <h1 class="title--main text--left">404 Error</h1>
        <p class="title--22 title--22-white text--left">Hmmm. This is strange... </p>
        <p class="title--22 title--22-white text--left">While we have you, did you know we sell custom shirts for only $75?</p>
        <div class="hero-cta">
          <a href="/collections/shirts" class="button button-outline-white">Click here to check 'em out!</a>
        </div>
      </div>
    </main>
  </section>
<main class="main-wrapper">
