</main>
<div class="has-background-image background-center page-banner--header" style="background-image: url({{ 'affiliates-bg.jpg' | asset_url }})">
  <div class="main-wrapper">
    <h1 class="title--main">{{ page.title }}</h1>
    <h2 class="title--medium white bold">Help Weddings #NeverRentAgain</h2>
  </div>
</div>
<main class="main-wrapper ">
  <div class="page-container f-column wrapper--770">
    <div class="page-content page-content--full text--regular">
      {{ page.content }}
    </div>
    <div class="team-sponsor m-t-lg">
      <div class="team-member--img team-member--img--mini m-r-md" style="background-image: url({{ 'x_member_1_image.jpg' | asset_url }})"></div>
      <div class="team-sponsor__info">
        <p class="text--regular">Ryan</p>
        <p class="text--regular">Chief Executive Officer</p>
        <p class="text--regular">SnapSuits.com</p>
      </div>
    </div>
  </div>
