    <div class="adds_banner">
      <div class="row">
        <div class="hero-border">
          <h1 class="wed-leads">{{ settings.leads_title }}</h1>
          <h1 class="wed-leads wed-leads-mod">For Life</h1>
          <div class="hero-hr-mod2"></div>
          <p class="wed-leads">{{ settings.leads_text }}</p>
          <div class="hero-hr-mod"></div>
          <p class="hero-copy-mod">{{ settings.leads_footer }}</p>
          <a href="http://groomshop.snapsuits.com/" class="button button--red hero-button-fix" id="register_wedding__btn--form1">Request a Swatch Kit</a>
  			<script type="text/javascript">
                var cutUrl, y, link, fullUrl;
                fullUrl = window.location.pathname.split( '/' );
                cutUrl = fullUrl.length-1;
                y = fullUrl[cutUrl];
                link = "http://groomshop.snapsuits.com/#";
                $("#register_wedding__btn--form1").attr( 'href' , link + y );
    		</script>
        </div>
      </div>
    </div> 