<div class="banner banner--contact">
      <div class="row">
        <div class="small-12 medium-6 small-centered columns banner__block banner__block--padding">
          <h2 class="banner__title">Contact Us  & Faq</h2>
          <p class="banner__text">We are here to help! Check out FAQ's below or call us with any questions.</p>
        </div>
      </div>
    </div>

    <div class="contact_block">
      <p class="contact_block__text">Need to get a hold of us? Email us at <span><a href="mailto:{{ settings.email_support }}">{{ settings.email_support }}</a></span> and we will get back to you with 24 hours.</p>
      <p class="contact_block__text">Winston-Salem, North Carolina </p>
      <h2 class="contact_block__title">FREQUENTLY ASKED QUESTIONS</h2>
      <div class="row">
        {{ page.content }}
      </div>
    </div>
